div {
    font-family: Georgia;
    text-align: center;
    margin: 0 auto;
  }

h1{
    font-size: 22px;
    text-align: center;
  }
h2{
    font-size: 18px;
    color: #88100f;
    font-weight: normal;
    text-align: center;
}
img{
    border:5px solid black;
}
h3 {
    font-size: 16;
    text-decoration: underline;
    color: #88100f;
    font-weight: normal;
}
p {
    font-size: 14px;
    line-height: 28px;
}
ol{
    font-size: 14px;
    line-height: 28px;
    margin: 0 auto;
}